<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8"><title>dto 객체 출력해보기</title>
</head>
<body>
    <ul>
        <li th:each="dto : ${list}">    <!-- for문 모델에 있는 list 키를 가져옴-->
            [[${dto}]]
            <!-- list 안쪽 객체를 출력 -->
        </li>
    </ul>

    <ul>
        <li th:each="dto, state : ${list}">
            [[${state.index}]]  --- [[${dto}]]
        </li>
    </ul>

    <ul>
        <li th:each="dto, state : ${list}" th:if="${dto.sno % 5 == 0}"> <!-- thymeleaf의 제어문 처리 -->
            [[${dto}]]  <!-- th:if ~ unless를 이용하여 삼항연산자 스타일을 사용 -->
            <!-- sno의 값이 5의 배수들만 출력한다. -->
        </li>
    </ul>

    <ul>
        <li th:each="dto, state : ${list}" th:text="${dto.sno % 5 == 0}? ${dto.sno}"></li>
    </ul>

    <ul>
        <li th:each="dto, state : ${list}" th:text="${dto.sno % 5 == 0 }? ${dto.sno}: ${dto.first}"></li>
    </ul>

    <style>
        .target {
            background-color: red;
        }
    </style>

    <ul>
        <li th:each="dto, state : ${list}" th:class="${dto.sno % 5 == 0}? 'target'" th:text="${dto}"></li>
    </ul>

    <ul>
        <li th:each="dto, state : ${list}" >
            <span th:if="${dto.sno % 5 == 0}" th:text="${'---------' + dto.sno}"></span>    <!-- sno가 5로 나눈 나머지가 0인 경우 sno만 출력 -->
            <span th:unless="${dto.sno % 5 == 0}" th:text="${dto.first}"></span>    <!-- sno가 5로 나눈 나머지가 0이 아닐경우 first로 출력 -->
        </li>
    </ul>

    <ul>
        <th:block th:each="dto: ${list}">
            <li th:text="${dto.sno % 5 == 0}?${dto.sno}:${dto.first}"></li>
        </th:block>
    </ul>

</body>
</html>